.btn {
    display: inline-block;
    padding: 15px 25px;
    border: 2px solid $blue;
    text-transform: uppercase;
    transition: $dur $ease;
    &:hover {
        color: $white;
        background-color: $blue;
        border: 2px solid $white;
    }
    &:focus {
        outline: none;
    }
}
.btn-delete {
    background-color: $red;
    color: $white;
    border: 1px solid $white;
    transition: $dur $ease;
    &:hover {
        cursor: pointer;
        background-color: $white;
        color: $red;
        border: 1px solid $black;
    }
    
}