body {
    background-color: $white;
    * {
        color: $black;
        box-sizing: border-box;
    }
}
.centered {
    display: block;
    text-align: center;
}
.tooltip {
    position: relative;
    display: block;
    width: 27px;
    height: 27px;
    padding: 5px;
    border: 2px solid $grey;
    transition: $dur $ease;
    border-radius: 50%;
    
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $grey;
        line-height: 1;
        transform: translate(-50%, -53%);
        user-select: none;
        font-size: 12px;
        transition: $dur $ease;
    }
    &:hover {
        border-color: $black;
        span {
            color: $black;
        }
    }
}

.color-green {
    color: $green;
}
.color-red {
    color: $red;
}
