.tracker {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 30px;
    border: 1px solid #afafaf;
    border-radius: 3px;
}
.tracker__title {
    display: block;
    margin-bottom: 30px;
    text-align: center;
}
.tracker__display {
    display: flex;
    flex: 1;
}
.tracker__display-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 0 15px;
    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: black;
    }
    &:last-of-type {
        &::after {
            display: none;
        }
    }
}
.tracker__display-item-title {
    display: flex;
    font-weight: bold;
    align-items: center;
    line-height: 1;
    min-height: 30px;
    .tooltip {
        margin-left: 10px;
    }
}
.tracker-history {

}
.tracker-history__title {
    text-align: center;
}
.tracker-history__list {
    list-style-type: none;
    padding: 0 17%;
}
.tracker-history__list-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.tracker-history__list-item-btn {
    margin-right: 5px;
}
.tracker-history__list-item-text {
    display: flex;
    width: 100%;
    span {
        margin-left: auto;
    }
}

.tracker-add-trans {
    padding: 50px 15px;
}
.tracker-add-trans__form-item {
    display: none;
}